extends ./layout
block content
    .form-row
        h4 Controller Machine
    .form-row
        .form-group.col-md-2
            form(action='control')
                button.btn.btn-success(type='submit') Create connection